packages:
    yum:
        supervisor: []
files:
    "/etc/supervisord.d/laravel-worker.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            [program:laravel-worker]
            process_name=%(program_name)s_%(process_num)02d
            command=php /var/www/html/artisan queue:work --max-time 3600000
            autostart=true
            autorestart=true
            stopasgroup=true
            killasgroup=true
            user=root
            numprocs=8
            redirect_stderr=true
            stdout_logfile=/var/www/logs/worker.log
            stopwaitsecs=3600
commands:
    start_supervisor:
        command: |
            mkdir /var/www/logs
            supervisord -c /etc/supervisord.conf
            supervisorctl update all
